
a{
    color: #000;
    text-decoration: none;
}
ul li{
    list-style: none;
}
i{
    margin-right: 0.5em;
}
header{
    position: relative;
    height: 600px;
}
.hero{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero img{
    object-fit: none;
    height: 400px;
    width: 100%;
}
.nav, nav ul, .social ul{
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 15%;
}
.logo img{
    width:100px;
}
nav{
    width: 60%;
}
.social{
    width: 10%;
}
.content-header{
    position: absolute;
    bottom: 1px;
    text-align: center;
    width: 100%;
    color: darksalmon;
}