body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: #000;
    text-decoration: none;
}

ul li{
    list-style: none;
}
i{
    margin-right: 0.5em;
}
header{
    position: relative;
    height: 400px;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
}

.nav, nav ul, .social ul{
    display: flex;
    justify-content: space-between;

}
nav ul li a:hover{
    color: darksalmon;
}
.logo{
    width: 15%;
}
.logo img{
    width:100px;
}
nav{
    width: 60%;
}
.social{
    width: 10%;
}
.content-header{
    position: absolute;
    bottom: 1px;
    text-align: center;
    width: 100%;
    color: darksalmon;
}
.content-header h2{
    opacity: 0.7;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.articles, .aside{
    margin: 0.5em;
    padding: 1em;;
}
.articles{
    width: 75%;
    display: flex;
    flex-wrap: wrap; 
    align-content: flex-start;
    background-color: #d8d7d7;
    
}
.aside{
    width: 25%;
    background-color: #d8d7d7;

}
article{
    width: 45%;
    margin: 0.5em;
    background-color: #fff;
}
article .image{
    position: relative;
    max-height: 250px;
}
article .image img{
    width: 100%;
    
}
article .art-content{
    padding: 1em;
}
article .title{
    background-color: darksalmon;
    color: #fff;
    padding-top: 1em;
    padding-left: 0.5em;
    font-size: 1.2em;
}
article .image .fecha{
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: yellow;
}